<section class="apartment-list">

  <mat-sidenav-container class="wrap">

    <mat-sidenav class="tools" mode="side" [(opened)]="isOpenSidenav">
      <app-change-services-dialog *ngIf="row$ | async"></app-change-services-dialog>
    </mat-sidenav>
    <mat-sidenav-content class="table">
          <button class="mat-button" mat-raised-button (click)="addDialog()">Add</button>
          <services-table-component class="table-component"></services-table-component>
    </mat-sidenav-content>
  </mat-sidenav-container>
</section>
