section {
  background-color: ghostwhite;
}

.wrap {
  display: flex;
  justify-content: space-between;
}

.example-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.table {
  /*-webkit-box-shadow: 0px 0px 10px -2px #00000042;*/
  /*box-shadow: 0px 0px 10px -2px #00000042;*/
  overflow-y: scroll;
  float: left;
  min-width: 70%;
  width: 100%;
  height: calc(100vh - 90px);
  background-color: white;
}
.buttons > p {
  color: coral;
}

.tools{
  margin: 0 auto;
  width: 24%;
}

.buttons{
  width: 100%;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mat-button{
  margin: 20px 0 0 20px;
  width: 100px;
}

.mat-dialog-actions {
  justify-content: space-between;
}
