<section class="booking-list">
  <mat-sidenav-container class="wrap">
    <mat-sidenav class="tools" mode="side" [(opened)]="isOpenSidenav">
        <app-change-booking-dialog *ngIf="id$ | async"></app-change-booking-dialog>
    </mat-sidenav>
    <mat-sidenav-content class="table">
      <button class="mat-button" mat-raised-button (click)="addApartmentDialog()">Add</button>
      <booking-table-component class="table-component"></booking-table-component>
    </mat-sidenav-content>
  </mat-sidenav-container>
</section>
